
.project-card {
  height: 500px; /* FIXED HEIGHT */
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 1rem;
  margin: 1.5rem 0;
  margin-bottom: 4rem;
  overflow: hidden;
  min-height: 500px;
  max-height: 500px; /* pastikan fix */
}


.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* deeper shadow on hover */
}

@media (max-width: 768px) {
  .project-card {
    margin: 1rem 0; /* Sesuaikan juga di mobile */
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  gap: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Batasi 5 baris */
  -webkit-box-orient: vertical;
}


.card-img-top {
  height: 160px;
  object-fit: contain;
  object-position: center;
  background-color: #fff;
}


